<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/saved">Saved Articles</a></li>
            </ul>
        </div>
    </nav>
    <div class="jumbotron">
        <div class="container">
            <h1>Saved Articles</h1>
            <p>Your Saved Articles</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Saved Articles</h3>
                </div>
                <div class="panel-body">
                    {{#each articles}}
                        {{#if this.saved}}
                            <div class="article-div">
                                <h2 id="article-headline">{{this.title}}</h2>
                                <a id="article-link" href="{{this.link}}">{{this.link}}</a>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-value="{{this._id}}" data-target=".bs-example-modal-lg">Add Note</button>
                                {{!--<button id="add-note-button" data-value="{{this._id}}"type="submit">Add a Note</button>--}}
                            </div>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <!-- Large modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> 
                <h4 class="modal-title">Notes for Article: </h4> 
            </div> 
            <div class="modal-body"> 
                <div class="panel panel-default">
                    <div class="panel-body">
                        {{#each notes}}
                            <div class="article-div">
                                <h2 id="note-body">{{this.body}}</h2>
                                <button type="button" class="btn btn-danger">X</button>
                                {{!--<button id="add-note-button" data-value="{{this._id}}"type="submit">Add a Note</button>--}}
                            </div>
                        {{/each}}
                    </div>
                </div>
            <textarea class="form-control" rows="3"></textarea>
            <div class="modal-footer">
                <button class="btn btn-success" type="submit">Save Note</button>
            </div>
            </div> 
        </div>
    </div>
</body>
</html>